<a href="https://colab.research.google.com/github/Rajamba/CodewithBenjamin/blob/master/MusicWave_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Chinook Database Analysis Assignment**

## **Scenario:**

You are a data analyst at **MusicWave Inc.**, a company that specializes in music distribution and sales. Your company uses the Chinook database to manage its music collection, sales, and customer information. Recently, your manager has tasked you with analyzing the database to extract valuable insights that can help the company make informed business decisions.

## **Introduction to the Chinook Database:**

The Chinook database is a sample database that represents a digital media store. It includes tables for:
- **Artists**: Information about the music artists.
- **Albums**: Information about the albums, each linked to an artist.
- **Tracks**: Information about individual tracks, including which album they belong to.
- **Customers**: Information about the customers.
- **Invoices**: Information about sales transactions.
- **InvoiceLines**: Detailed information about each item in an invoice.
- **Genres**: Information about the genres of the tracks.
- **MediaTypes**: Information about the types of media.
- **Employees**: Information about the employees.

The database schema allows for complex queries to analyze various aspects of the music store's operations.

## **Getting Started:**

### **Download the Chinook Database**

1. Download the Chinook SQLite database from [here](https://github.com/lerocha/chinook-database/raw/master/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite).

2. Upload the `Chinook_Sqlite.sqlite` file to your Google Colab environment.

### **Setting Up the Environment**

Run the following cells to set up your environment and connect to the Chinook database.

```python
# Install sqlite3 library (if not already installed)
!pip install sqlite3

# Import necessary libraries
import sqlite3
import pandas as pd

# Connect to the SQLite database
conn = sqlite3.connect('Chinook_Sqlite.sqlite')

In [ ]:
import sqlite3
import pandas as pd

# Connect to the SQLite database
conn = sqlite3.connect('Chinook_Sqlite.sqlite')

# Execute a query
query = "SELECT * FROM sqlite_master where type='table'"

df = pd.read_sql_query(query, conn)
df[['type','name']]

     type           name
0   table          Album
1   table         Artist
2   table       Customer
3   table       Employee
4   table          Genre
5   table        Invoice
6   table    InvoiceLine
7   table      MediaType
8   table       Playlist
9   table  PlaylistTrack
10  table          Track

In [ ]:
# Read the first five rows from the Album table
df = pd.read_sql_query("SELECT * FROM album limit 5", conn)

### **Question 1: List All Tables**

**Scenario:**  
Your manager, Alex, is new to the team and is trying to understand the structure of the Chinook database. Alex asks you to provide a list of all the tables in the database to get an overview of the available data.

**Task:**  
Write a query to list all tables in the Chinook database.

In [31]:
from google.colab import files
uploaded = files.upload()
import os
os.listdir()

Saving Chinook_Sqlite.sqlite to Chinook_Sqlite.sqlite

['.config', 'Chinook_Sqlite.sqlite', '.ipynb_checkpoints', 'sample_data']

In [35]:
import sqlite3
import pandas as pd

# Connect to the SQLite database
conn = sqlite3.connect('Chinook_Sqlite.sqlite')

table_list = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table'", conn)
print(table_list)

# Close the connection
conn.close()

             name
0           Album
1          Artist
2        Customer
3        Employee
4           Genre
5         Invoice
6     InvoiceLine
7       MediaType
8        Playlist
9   PlaylistTrack
10          Track

### **Question 2: Retrieve Top 10 Records from the Albums Table**

**Scenario:**  
Alex wants to familiarize himself with the kind of albums stored in the database. He asks you to fetch a sample of the album records to get a better idea of the data.

**Task:**  
Write a query to retrieve the top 10 records from the Albums table.

---

In [49]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('Chinook_Sqlite.sqlite')

# Query to fetch the top 10 records from the Albums table
top_10_albums = pd.read_sql_query("SELECT * FROM album limit 10", conn)


# Print the results
print(top_10_albums)

# Close the connection
conn.close()

   AlbumId                                  Title  ArtistId
0        1  For Those About To Rock We Salute You         1
1        2                      Balls to the Wall         2
2        3                      Restless and Wild         2
3        4                      Let There Be Rock         1
4        5                               Big Ones         3
5        6                     Jagged Little Pill         4
6        7                               Facelift         5
7        8                         Warner 25 Anos         6
8        9         Plays Metallica By Four Cellos         7
9       10                             Audioslave         8


### **Question 3: Count the Number of Tracks per Genre**

**Scenario:**  
To plan a marketing campaign, Alex needs to know which genres are most represented in the music store. He asks you to count the number of tracks available for each genre.

**Task:**  
Write a query to count the number of tracks per genre.

---

In [53]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('Chinook_Sqlite.sqlite')

# Query to count the number of tracks per genre
tracks_per_genre = pd.read_sql_query("""
    SELECT g.Name AS Genre, COUNT(t.TrackId) AS TrackCount
    FROM Genre AS g
    JOIN Track AS t ON g.GenreId = t.GenreId
    GROUP BY g.Name
    ORDER BY TrackCount DESC
""", conn)

print(tracks_per_genre)

# Close the connection
conn.close()

                 Genre  TrackCount
0                 Rock        1297
1                Latin         579
2                Metal         374
3   Alternative & Punk         332
4                 Jazz         130
5             TV Shows          93
6                Blues          81
7            Classical          74
8                Drama          64
9             R&B/Soul          61
10              Reggae          58
11                 Pop          48
12          Soundtrack          43
13         Alternative          40
14         Hip Hop/Rap          35
15   Electronica/Dance          30
16               World          28
17         Heavy Metal          28
18    Sci Fi & Fantasy          26
19      Easy Listening          24
20              Comedy          17
21          Bossa Nova          15
22     Science Fiction          13
23       Rock And Roll          12
24               Opera           1

### **Question 4: Calculate the Total Sales by Country**

**Scenario:**  
Alex is interested in understanding the revenue distribution across different countries. He asks you to calculate the total sales generated from each country.

**Task:**  
Write a query to calculate the total sales by country.

In [55]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('Chinook_Sqlite.sqlite')


total_sales_by_country = pd.read_sql_query("""
    SELECT
        i.BillingCountry,
        SUM(i.Total) AS TotalSales
    FROM Invoice AS i
    GROUP BY i.BillingCountry
    ORDER BY TotalSales DESC;
""", conn)

print(total_sales_by_country)

# Close the connection
conn.close()

    BillingCountry  TotalSales
0              USA      523.06
1           Canada      303.96
2           France      195.10
3           Brazil      190.10
4          Germany      156.48
5   United Kingdom      112.86
6   Czech Republic       90.24
7         Portugal       77.24
8            India       75.26
9            Chile       46.62
10         Ireland       45.62
11         Hungary       45.62
12         Austria       42.62
13         Finland       41.62
14     Netherlands       40.62
15          Norway       39.62
16          Sweden       38.62
17          Poland       37.62
18           Italy       37.62
19         Denmark       37.62
20       Australia       37.62
21       Argentina       37.62
22           Spain       37.62
23         Belgium       37.62


### **Question 5: Identify the Top 5 Customers by Total Purchase Amount**

**Scenario:**  
To improve customer relationship management, Alex wants to identify the top spenders. He asks you to find out who the top 5 customers are based on their total purchase amount.

**Task:**  
Write a query to identify the top 5 customers by total purchase amount.

---

In [56]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('Chinook_Sqlite.sqlite')

top_5_customers = pd.read_sql_query("""
    SELECT
        c.FirstName || ' ' || c.LastName AS CustomerName,
        SUM(i.Total) AS TotalPurchaseAmount
    FROM Customer AS c
    JOIN Invoice AS i ON c.CustomerId = i.CustomerId
    GROUP BY c.CustomerId
    ORDER BY TotalPurchaseAmount DESC
    LIMIT 5;
""", conn)

print(top_5_customers)

         CustomerName  TotalPurchaseAmount
0         Helena Holý                49.62
1  Richard Cunningham                47.62
2          Luis Rojas                46.62
3     Ladislav Kovács                45.62
4       Hugh O'Reilly                45.62


### **Question 6: Find the Most Popular Artist by Total Track Sales**

**Scenario:**  
Alex wants to identify the most popular artist in the store based on track sales. He asks you to find out which artist has the highest total track sales.

**Task:**  
Write a query to find the most popular artist by total track sales.

---

In [59]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('Chinook_Sqlite.sqlite')

most_popular_artist = pd.read_sql_query("""
    SELECT
        ar.Name AS ArtistName,
        SUM(il.Quantity) AS TotalTrackSales
    FROM Artist AS ar
    JOIN Album AS al ON ar.ArtistId = al.ArtistId
    JOIN Track AS t ON al.AlbumId = t.AlbumId
    JOIN InvoiceLine AS il ON t.TrackId = il.TrackId
    GROUP BY ar.Name
    ORDER BY TotalTrackSales DESC
    LIMIT 1;
""", conn)

print(most_popular_artist)

# Close the connection
conn.close()

    ArtistName  TotalTrackSales
0  Iron Maiden              140


### **Question 7: Determine the Average Invoice Total by Customer Country**

**Scenario:**  
To understand the purchasing behavior of customers from different countries, Alex asks you to determine the average invoice total for each country.

**Task:**  
Write a query to determine the average invoice total by customer country.

---

In [60]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('Chinook_Sqlite.sqlite')

avg_invoice_total_by_country = pd.read_sql_query("""
    SELECT
        BillingCountry,
        AVG(Total) AS AverageInvoiceTotal
    FROM Invoice
    GROUP BY BillingCountry;
""", conn)

print(avg_invoice_total_by_country)

# Close the connection
conn.close()

    BillingCountry  AverageInvoiceTotal
0        Argentina             5.374286
1        Australia             5.374286
2          Austria             6.088571
3          Belgium             5.374286
4           Brazil             5.431429
5           Canada             5.427857
6            Chile             6.660000
7   Czech Republic             6.445714
8          Denmark             5.374286
9          Finland             5.945714
10          France             5.574286
11         Germany             5.588571
12         Hungary             6.517143
13           India             5.789231
14         Ireland             6.517143
15           Italy             5.374286
16     Netherlands             5.802857
17          Norway             5.660000
18          Poland             5.374286
19        Portugal             5.517143
20           Spain             5.374286
21          Sweden             5.517143
22             USA             5.747912
23  United Kingdom             5.374286

### **Question 8: Analyze Employee Sales Performance**

**Scenario:**  
Alex wants to evaluate the performance of the sales team. He asks you to analyze the sales performance of each employee.

**Task:**  
Write a query to analyze the sales performance of each employee.

---

In [61]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('Chinook_Sqlite.sqlite')

employee_sales_performance = pd.read_sql_query("""
    SELECT
    e.FirstName || ' ' || e.LastName AS EmployeeName,
    SUM(i.Total) AS TotalSales
FROM Employee AS e
JOIN Customer AS c ON e.EmployeeId = c.SupportRepId
JOIN Invoice AS i ON c.CustomerId = i.CustomerId
GROUP BY e.EmployeeId
ORDER BY TotalSales DESC;
""", conn)

print(employee_sales_performance)

# Close the connection
conn.close()

    EmployeeName  TotalSales
0   Jane Peacock      833.04
1  Margaret Park      775.40
2  Steve Johnson      720.16

### **Question 9: Identify Trends in Monthly Sales**

**Scenario:**  
Alex wants to identify sales trends over time. He asks you to analyze the monthly sales data to spot any trends.

**Task:**  
Write a query to identify trends in monthly sales.

---

In [77]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('Chinook_Sqlite.sqlite')

monthly_sales_trends = pd.read_sql_query("""
    SELECT
    strftime('%Y-%m', i.InvoiceDate) AS Month,
    SUM(i.Total) AS Monthly_sales
FROM Invoice AS i
GROUP BY Month
ORDER BY Monthly_sales DESC;    ------Order by monthly_sales in descending order
""", conn)
print(monthly_sales_trends)

# Close the connection
conn.close()

      Month  Monthly_sales
0   2010-01          52.62
1   2011-04          51.62
2   2011-06          50.62
3   2013-11          49.62
4   2012-08          47.62
5   2012-09          46.71
6   2010-02          46.62
7   2010-03          44.62
8   2011-05          42.62
9   2012-10          42.62
10  2012-07          39.62
11  2013-12          38.62
12  2012-06          37.62
13  2012-05          37.62
14  2012-04          37.62
15  2012-03          37.62
16  2012-02          37.62
17  2012-01          37.62
18  2011-12          37.62
19  2011-10          37.62
20  2011-09          37.62
21  2011-08          37.62
22  2011-07          37.62
23  2011-03          37.62
24  2011-02          37.62
25  2011-01          37.62
26  2010-12          37.62
27  2010-11          37.62
28  2010-10          37.62
29  2013-10          37.62
30  2013-09          37.62
31  2013-08          37.62
32  2013-07          37.62
33  2013-06          37.62
34  2013-05          37.62
35  2013-03          37.62
36  2013-01          37.62
37  2012-12          37.62
38  2012-11          37.62
39  2010-08          37.62
40  2010-07          37.62
41  2010-06          37.62
42  2010-05          37.62
43  2010-04          37.62
44  2009-12          37.62
45  2009-11          37.62
46  2009-10          37.62
47  2009-09          37.62
48  2009-08          37.62
49  2009-07          37.62
50  2009-06          37.62
51  2009-05          37.62
52  2009-04          37.62
53  2009-03          37.62
54  2009-02          37.62
55  2010-09          36.63
56  2009-01          35.64
57  2013-04          33.66
58  2013-02          27.72
59  2011-11          23.76

### **Question 10: Recommend Marketing Strategies Based on Data Insights**

**Scenario:**  
Based on the insights you have gathered from the previous queries, Alex asks you to recommend at least two marketing strategies that MusicWave Inc. should consider to increase sales and customer satisfaction.

**Task:**  
Based on your analysis, write a brief recommendation for two marketing strategies that could help MusicWave Inc. increase sales and improve customer satisfaction.

Recommendation 1: Targeted Marketing Campaigns based on Genre Popularity
#
# Analysis: Question 3 revealed the popularity of different music genres.
# Recommendation: MusicWave Inc. should leverage this information to create targeted marketing campaigns focusing on the most popular genres. For example, if 'Rock' is the most popular genre, create promotional offers, playlists, and advertisements specifically tailored to rock music enthusiasts.  This targeted approach is more likely to resonate with customers and drive sales.  Additionally, consider offering genre-specific bundles or subscriptions.


# Recommendation 2:  Customer Loyalty Program and Personalized Recommendations
#
# Analysis: Question 5 identified the top customers by purchase amount. Questions 6 and 7 showed insights on artist popularity and average spending by country.
# Recommendation: Implement a customer loyalty program that rewards frequent purchases and high spending.  This could involve exclusive discounts, early access to new releases, or personalized merchandise. Combine this with a robust recommendation engine that suggests music based on past purchases, preferred genres (from Question 3), and popular artists in their country (from Question 7). Personalized recommendations can significantly improve customer satisfaction and encourage further engagement with the platform.